.hero-section {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
}

.hero-container {
  position: relative;
  max-width: 100%;
  margin: -0.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-content {
  flex: 1;
  padding: 5rem;
  z-index: 2;
  color: #fff;
}

.hero-title {
  font-size: 90px;
  margin-bottom: 10px;
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: 400;
}

.hero-description {
  font-size: 14px;
  margin-bottom: 20px;
  font-family:Gill Sans MT;

}

.hero-button {
  padding: 12px 20px;
  border: none;
  background-color: #0065E7;
  color: #fff;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  height: 55px;
}

.hero-image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-navigation {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 2;
}

.navigation-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}

.navigation-arrow svg {
  font-size: 36px;
  color: white;
}
@media screen and (max-width: 780px) {
  .hero-content {
    padding: 2rem;
  }

  .hero-title {
    font-size: 24px;
  }

  .hero-description {
    font-size: 12px;
  }

  .hero-button {
    font-size: 10px;
    height: 40px;

  }

  .hero-navigation {
    bottom: 3rem;
  }

  .navigation-arrow {
    width: 24px;
    height: 24px;
    margin: 0 4px;
  }

  .navigation-arrow svg {
    font-size: 20px;
  }
}
