@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/nasalization-2');

:root {
  --primary: #fff;

}
.btn-round-style {
  background-color: #0065e7;
  border: 2px;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.btn-round-style:hover {
  background-color: #608541;
  color: #ffffff;
}
.rounded-btn{

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  }
  .rounded-btn:hover {
    background-color: #ffffff;
    color: #000000;
  }
  


/* mobile */


